In [9]:
import requests

url = "https://weather-api167.p.rapidapi.com/api/weather/current"

querystring = {"place":"Manama,Bahrain","units":"standard","lang":"ar","mode":"json"}

headers = {
	"x-rapidapi-key": "42b658ed22msh1f20b37806e42efp1083f8jsnc035d5a95c86",
	"x-rapidapi-host": "weather-api167.p.rapidapi.com",
	"Accept": "application/json"
}

response = requests.get(url, headers=headers, params=querystring)

print(response.json())

{'coord': {'lon': 50.5822, 'lat': 26.2235}, 'summery': 'سماء صافية, 310.34K, feels like 317.34K, winds 3.09 meter/sec from Northeast, 70% humidity', 'weather': [{'id': 800, 'main': 'Clear', 'description': 'سماء صافية', 'icon': 'https://openweathermap.org/img/wn/01d@2x.png'}], 'base': 'stations', 'main': {'temprature': 310.34, 'temprature_feels_like': 317.34, 'temprature_min': 310.12, 'temprature_max': 310.34, 'temprature_unit': 'K', 'pressure': 1003, 'humidity': 70, 'humidity_unit': '%', 'sea_level_pressure': 1003, 'ground_level_pressure': 1003, 'pressure_unit': 'hPa'}, 'visibility_distance': 10000, 'visibility_unit': 'm', 'wind': {'speed': 3.09, 'degrees': 50, 'direction': 'Northeast', 'speed_unit': 'meter/sec'}, 'rain': {'amount': 0, 'unit': 'mm in the last 1 hour'}, 'snow': {'amount': 0, 'unit': 'mm in the last 1 hour'}, 'clouds': {'cloudiness': 0, 'unit': '%'}, 'dt': 1754807560, 'dt_txt': '2025-08-10T06:32:40.000Z', 'sys': {'type': 2, 'id': 2039996, 'country': 'BH', 'sunrise': 1754791662, 'sunrise_txt': '2025-08-10T02:07:42.000Z', 'sunset': 1754839110, 'sunset_txt': '2025-08-10T15:18:30.000Z'}, 'timezone': 10800, 'id': 290082, 'name': 'أُمّ اَلشَّعُوم', 'cod': 200}

In [10]:
import pandas as pd

df = pd.json_normalize(response.json())
df

,summery,weather,base,visibility_distance,visibility_unit,dt,dt_txt,timezone,id,name,...,snow.unit,clouds.cloudiness,clouds.unit,sys.type,sys.id,sys.country,sys.sunrise,sys.sunrise_txt,sys.sunset,sys.sunset_txt
0,"سماء صافية, 310.34K, feels like 317.34K, winds...","[{'id': 800, 'main': 'Clear', 'description': '...",stations,10000,m,1754807560,2025-08-10T06:32:40.000Z,10800,290082,أُمّ اَلشَّعُوم,...,mm in the last 1 hour,0,%,2,2039996,BH,1754791662,2025-08-10T02:07:42.000Z,1754839110,2025-08-10T15:18:30.000Z

In [11]:
response